@import 'compass',
		'compass/reset',
		'color.scss',
		'function.scss';
		
body {
	background: $body__bgc;
}
main {
	.header--main {
		position: relative;
		position: fixed;
		z-index: 9;
		width: 100%;
		@include transition(all .5s ease-in);
		.menu {
			a {
				color: $gn;
				font-size: rem(24);
				margin: rem(40) rem(40) rem(24) 0;
				padding-bottom: 5px;
				border-bottom: 2px solid transparent;
				@include transition(all .28s ease-in-out);
				&:hover {
					border-color: $wt;
					//@include transition(all .28s ease-in-out);
				}
				&.active {
					color: $yl;
				}
			}
		}
		&.fixed {
			position: fixed;
			z-index: 9999;
			top: 0;
			background: $gn;
			.menu {
				a {
					color: $wt;
				}
			}
		}
	}
	.landing {
		position: relative;
		top:  0;
		left: 0;
		//改用 js 控制 margin-top: -71px;	//減去header's height  && hover時的2px		
		overflow: hidden;
		.landing__intro {
			color: $yl;
			position: relative;
			z-index: 1;
			//@include display-flex;
			//@include align-items(center);
			//@include justify-content(center);
			//@include flex-direction(column);
			height: 100%;

			.slide--down {
				background: transparent;
				padding: 0;
				margin: 0;
				svg {
					path {
						@include transition(all .28s ease-in-out);
						&#tri {
							fill: transparent;
							//必須要先有預設值，hover時才會有transition的變化
						}
					}
					&:hover {
						path#tri {
							fill: $yl;
						}
					}
				}
			}
		}
		.landing__bg {
			width: 100%;
			position: absolute;
			top: 0;
			&.width {
				width: 100%;
				height: auto;
			}
			&.height {
				width: auto;
				height: 100%;
			}
		}
	}
	.footer--main {
		border-top: 1px solid $grey--dark;
		margin-top: 60px;
		padding: 60px 0;
	}
}
.ui.form {
	.field {
		position: relative;
		margin-top: 30px;
		label {
			font-size: rem(14);
			color: $gn;
			@include transition(all .28s ease-in-out);
			&.fixed {
				position: absolute;
				top: rem(-16);
				font-size: rem(12);
				color: $grey--dark;
			}
		}
		input[type="text"] {
			background: transparent;
			border: 0;
			border-bottom: 1px solid $grey--light;
			padding: 0 0 10px 0px;
			font-size: rem(16);
			outline: none;
			position: relative;
			width: 100%;
			+label {
				position: absolute;
				left: 0;
				top: 0;
				cursor: text;
				&.fixed {
					position: absolute;
					top: rem(-16);
					font-size: rem(12);
					color: $grey--dark;
				}
			}
			&:focus {
				+label {
					color: $grey--dark;
					top: rem(-16);
					font-size: rem(12);
				}
			}
		}
		textarea {
			margin-top: 25px; //save space for label
			outline: none;
			width: 100%;
			border: 1px solid $grey--light;
			height: 100px;
			@include border-radius(5px);
			+label {
				position: absolute;
				top: 0;
				left: 0;
				cursor: text;
			}
			&:focus {
				+label {
					color: $grey--dark;
				}
			}
		}
	}
	.field {
		.field__hint {
			position: absolute;
			top: 0;
			right: -160px;
		}
	}
}



// sematic's js 取出放置body 下層
.ui.modals.page {
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
	cursor: zoom-out;
}
.works--overlay {
	cursor: default;
	.header {
		.title {
			color: $gn;
			font-size: rem(24);
		}
		.cata {
			color: $grey--dark;
			font-size: rem(16);
		}
	}
	.content {
		&.image {
			img {
				width: 100%;
				height: auto;
				display: block;
				margin: 1rem 0;
			}
		}
	}
}